In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('mail_data.csv')

In [3]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df['Category'].value_counts()

ham     4825
spam     747
Name: Category, dtype: int64

In [7]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [8]:
df['Category'].replace(['ham','spam'],[0,1],inplace=True)

In [9]:
df.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [34]:
X=df.Message
y=df['Category']

In [35]:
X.head()

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: Message, dtype: object

In [53]:
y.head()

0    0
1    0
2    1
3    0
4    0
Name: Category, dtype: int64

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [54]:
vectorizer = TfidfVectorizer(min_df = 1, stop_words='english', lowercase='True')

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=3)

In [58]:
X_train_vec = vectorizer.fit_transform(X_train)
X_test_vec = vectorizer.transform(X_test)

In [60]:
from sklearn.linear_model import LogisticRegression

In [61]:
model = LogisticRegression()

In [62]:
model.fit(X_train_vec,y_train)

LogisticRegression()

In [63]:
prediction = model.predict(X_test_vec)

In [64]:
from sklearn.metrics import accuracy_score

In [65]:
accuracy_score(y_test,prediction)

0.9659192825112107

In [66]:
import pickle

In [67]:
pickle.dump(model,open('model.pkl','wb'))

In [68]:
pickle.dump(X_train,open('X_train.pkl','wb'))

In [71]:
df.iloc[2,:][1]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [74]:
df[df['Category']==1]

      Category                                            Message
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
5            1  FreeMsg Hey there darling it's been 3 week's n...
8            1  WINNER!! As a valued network customer you have...
9            1  Had your mobile 11 months or more? U R entitle...
11           1  SIX chances to win CASH! From 100 to 20,000 po...
...        ...                                                ...
5537         1  Want explicit SEX in 30 secs? Ring 02073162414...
5540         1  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547         1  Had your contract mobile 11 Mnths? Latest Moto...
5566         1  REMINDER FROM O2: To get 2.50 pounds free call...
5567         1  This is the 2nd time we have tried 2 contact u...

[747 rows x 2 columns]

In [76]:
df.iloc[11,:][1]

'SIX chances to win CASH! From 100 to 20,000 pounds txt> CSH11 and send to 87575. Cost 150p/day, 6days, 16+ TsandCs apply Reply HL 4 info'